In [20]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [21]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.60,-73.97,78.01,58,80,1.01,US,2020-07-16 17:53:01
1,1,Arraial Do Cabo,-22.97,-42.03,69.80,60,75,8.05,BR,2020-07-16 17:53:11
2,2,Katsuura,35.13,140.30,68.00,93,75,10.29,JP,2020-07-16 17:53:11
3,3,Busselton,-33.65,115.33,54.00,88,46,10.89,AU,2020-07-16 17:51:56
4,4,Vaini,-21.20,-175.20,73.40,88,40,6.93,TO,2020-07-16 17:53:11

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.60,-73.97,78.01,58,80,1.01,US,2020-07-16 17:53:01
6,6,Korla,41.76,86.15,79.75,28,6,11.77,CN,2020-07-16 17:53:11
11,11,Guiyang,26.58,106.72,77.00,73,75,13.42,CN,2020-07-16 17:51:37
16,16,Westport,41.14,-73.36,75.99,69,1,11.41,US,2020-07-16 17:53:12
17,17,Pangai,-19.80,-174.35,75.20,88,20,16.11,TO,2020-07-16 17:53:12
20,20,Jiangkou,25.49,119.20,82.40,83,99,6.71,CN,2020-07-16 17:53:12
25,25,Maragogi,-9.01,-35.22,77.20,80,78,14.20,BR,2020-07-16 17:53:12
32,32,Kapaa,22.08,-159.32,78.80,78,75,13.87,US,2020-07-16 17:53:12
42,42,Hamilton,39.18,-84.53,88.00,62,75,13.87,US,2020-07-16 17:48:49
45,45,Sao Filipe,14.90,-24.50,76.15,80,29,11.14,CV,2020-07-16 17:53:13

In [28]:
preferred_cities_df.count()

City_ID       184
City          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
Country       184
Date          184
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0       Albany      US     78.01  42.60  -73.97
6        Korla      CN     79.75  41.76   86.15
11     Guiyang      CN     77.00  26.58  106.72
16    Westport      US     75.99  41.14  -73.36
17      Pangai      TO     75.20 -19.80 -174.35
20    Jiangkou      CN     82.40  25.49  119.20
25    Maragogi      BR     77.20  -9.01  -35.22
32       Kapaa      US     78.80  22.08 -159.32
42    Hamilton      US     88.00  39.18  -84.53
45  Sao Filipe      CV     76.15  14.90  -24.50

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]